# Answer Key to the Data Wrangling with DataFrames Coding Quiz

Helpful resources:
http://spark.apache.org/docs/latest/api/python/pyspark.sql.html

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, count, when, col, desc, udf, col, sort_array, asc, avg
from pyspark.sql.functions import sum as Fsum
from pyspark.sql.window import Window
from pyspark.sql.types import IntegerType

In [2]:
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) write code to answer the quiz questions 

spark = SparkSession \
    .builder \
    .appName("Data Frames practice") \
    .getOrCreate()

df = spark.read.json("data/sparkify_log_small.json")

# Question 1

Which page did user id "" (empty string) NOT visit?

In [ ]:
df.printSchema()

In [ ]:
# filter for users with blank user id
blank_pages = df.filter(df.userId == '') \
    .select(col('page') \
    .alias('blank_pages')) \
    .dropDuplicates()

# get a list of possible pages that could be visited
all_pages = df.select('page').dropDuplicates()

# find values in all_pages that are not in blank_pages
# these are the pages that the blank user did not go to
for row in set(all_pages.collect()) - set(blank_pages.collect()):
    print(row.page)

# Question 2 - Reflect

What type of user does the empty string user id most likely refer to?

Perhaps it represents users who have not signed up yet or who are signed out and are about to log in.

# Question 3

How many female users do we have in the data set?

In [ ]:
df.filter(df.gender == 'F') \
    .select('userId', 'gender') \
    .dropDuplicates() \
    .count()

# Question 4

How many songs were played from the most played artist?

In [ ]:
df.filter(df.page == 'NextSong') \
    .select('Artist') \
    .groupBy('Artist') \
    .agg({'Artist':'count'}) \
    .withColumnRenamed('count(Artist)', 'Artistcount') \
    .sort(desc('Artistcount')) \
    .show(1)

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [3]:
# TODO: filter out 0 sum and max sum to get more exact answer

function = udf(lambda ishome : int(ishome == 'Home'), IntegerType())

user_window = Window \
    .partitionBy('userID') \
    .orderBy(desc('ts')) \
    .rangeBetween(Window.unboundedPreceding, 0)

cusum = df.filter((df.page == 'NextSong') | (df.page == 'Home')) \
    .select('userID', 'page', 'ts') \
    .withColumn('homevisit', function(col('page'))) \
    .withColumn('period', Fsum('homevisit').over(user_window))

cusum.filter((cusum.page == 'NextSong')) \
    .groupBy('userID', 'period') \
    .agg({'period':'count'}) \
    .agg({'count(period)':'avg'}).show()

+------------------+
|avg(count(period))|
+------------------+
| 6.898347107438017|
+------------------+

In [5]:
cusum.select("userId", "homevisit", "period" ).collect()

[Row(userId='1436', homevisit=0, period=0),
 Row(userId='1436', homevisit=0, period=0),
 Row(userId='2088', homevisit=1, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2088', homevisit=0, period=1),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=0, period=0),
 Row(userId='2162', homevisit=1, period=1),
 Row(userId='2162', homevisit=1, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2162', homevisit=0, period=2),
 Row(userId='2294', homevisit=0, period=0),
 Row(userId='2294', homevisit=0, period=0),
 Row(userId='2294', homevisit=0, period=0),
 Row(userId='2294', homevisit=0, period=0),
 Row(userId='2294', homevisit=1, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=0, period=1),
 Row(userId='2294', homevisit=1, period=2),
 Row(userId='2294', homevisit=0, period=2),
 Row(userId='2294', homevisit=0, period=2),
 Row(userId='2294', homevisit=0, period=2),
 Row(userId='2294', homevisit=1, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=0, period=3),
 Row(userId='2294', homevisit=1, period=4),
 Row(userId='2294', homevisit=0, period=4),
 Row(userId='2294', homevisit=0, period=4),
 Row(userId='2294', homevisit=0, period=4),
 Row(userId='2294', homevisit=0, period=4),
 Row(userId='2294', homevisit=1, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2294', homevisit=0, period=5),
 Row(userId='2904', homevisit=0, period=0),
 Row(userId='691', homevisit=1, period=1),
 Row(userId='691', homevisit=0, period=1),
 Row(userId='691', homevisit=0, period=1),
 Row(userId='691', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=0, period=0),
 Row(userId='1394', homevisit=1, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='1394', homevisit=0, period=1),
 Row(userId='2275', homevisit=0, period=0),
 Row(userId='2275', homevisit=0, period=0),
 Row(userId='2275', homevisit=0, period=0),
 Row(userId='2275', homevisit=1, period=1),
 Row(userId='2756', homevisit=0, period=0),
 Row(userId='2756', homevisit=0, period=0),
 Row(userId='2756', homevisit=0, period=0),
 Row(userId='2756', homevisit=0, period=0),
 Row(userId='2756', homevisit=1, period=1),
 Row(userId='2756', homevisit=1, period=2),
 Row(userId='2756', homevisit=0, period=2),
 Row(userId='451', homevisit=0, period=0),
 Row(userId='451', homevisit=1, period=1),
 Row(userId='451', homevisit=0, period=1),
 Row(userId='451', homevisit=1, period=2),
 Row(userId='800', homevisit=1, period=1),
 Row(userId='800', homevisit=0, period=1),
 Row(userId='800', homevisit=0, period=1),
 Row(userId='1280', homevisit=1, period=1),
 Row(userId='1280', homevisit=1, period=2),
 Row(userId='1746', homevisit=1, period=1),
 Row(userId='1746', homevisit=1, period=2),
 Row(userId='2696', homevisit=0, period=0),
 Row(userId='2696', homevisit=1, period=1),
 Row(userId='870', homevisit=0, period=0),
 Row(userId='870', homevisit=0, period=0),
 Row(userId='926', homevisit=0, period=0),
 Row(userId='926', homevisit=0, period=0),
 Row(userId='926', homevisit=1, period=1),
 Row(userId='926', homevisit=0, period=1),
 Row(userId='926', homevisit=0, period=1),
 Row(userId='926', homevisit=1, period=2),
 Row(userId='926', homevisit=1, period=3),
 Row(userId='1903', homevisit=1, period=1),
 Row(userId='1903', homevisit=0, period=1),
 Row(userId='1903', homevisit=0, period=1),
 Row(userId='1903', homevisit=0, period=1),
 Row(userId='1903', homevisit=0, period=1),
 Row(userId='1903', homevisit=0, period=1),
 Row(userId='1903', homevisit=1, period=2),
 Row(userId='591', homevisit=0, period=0),
 Row(userId='7', homevisit=0, period=0),
 Row(userId='7', homevisit=0, period=0),
 Row(userId='307', homevisit=0, period=0),
 Row(userId='574', homevisit=1, period=1),
 Row(userId='574', homevisit=0, period=1),
 Row(userId='574', homevisit=0, period=1),
 Row(userId='574', homevisit=0, period=1),
 Row(userId='574', homevisit=0, period=1),
 Row(userId='574', homevisit=1, period=2),
 Row(userId='613', homevisit=0, period=0),
 Row(userId='613', homevisit=1, period=1),
 Row(userId='613', homevisit=0, period=1),
 Row(userId='1043', homevisit=0, period=0),
 Row(userId='1043', homevisit=1, period=1),
 Row(userId='2402', homevisit=0, period=0),
 Row(userId='2402', homevisit=0, period=0),
 Row(userId='2402', homevisit=0, period=0),
 Row(userId='2402', homevisit=1, period=1),
 Row(userId='2644', homevisit=0, period=0),
 Row(userId='577', homevisit=0, period=0),
 Row(userId='577', homevisit=1, period=1),
 Row(userId='1349', homevisit=0, period=0),
 Row(userId='1349', homevisit=0, period=0),
 Row(userId='1349', homevisit=0, period=0),
 Row(userId='1349', homevisit=0, period=0),
 Row(userId='1349', homevisit=0, period=0),
 Row(userId='1349', homevisit=1, period=1),
 Row(userId='1349', homevisit=0, period=1),
 Row(userId='1349', homevisit=0, period=1),
 Row(userId='1349', homevisit=0, period=1),
 Row(userId='1349', homevisit=0, period=1),
 Row(userId='1349', homevisit=0, period=1),
 Row(userId='1349', homevisit=0, period=1),
 Row(userId='1418', homevisit=0, period=0),
 Row(userId='1418', homevisit=0, period=0),
 Row(userId='1418', homevisit=0, period=0),
 Row(userId='1418', homevisit=0, period=0),
 Row(userId='2200', homevisit=1, period=1),
 Row(userId='2392', homevisit=0, period=0),
 Row(userId='2531', homevisit=1, period=1),
 Row(userId='2964', homevisit=1, period=1),
 Row(userId='2980', homevisit=0, period=0),
 Row(userId='2980', homevisit=0, period=0),
 Row(userId='2980', homevisit=0, period=0),
 Row(userId='2980', homevisit=1, period=1),
 Row(userId='2980', homevisit=0, period=1),
 Row(userId='2980', homevisit=0, period=1),
 Row(userId='2980', homevisit=1, period=2),
 Row(userId='442', homevisit=0, period=0),
 Row(userId='442', homevisit=0, period=0),
 Row(userId='442', homevisit=0, period=0),
 Row(userId='442', homevisit=0, period=0),
 Row(userId='442', homevisit=0, period=0),
 Row(userId='442', homevisit=0, period=0),
 Row(userId='442', homevisit=1, period=1),
 Row(userId='462', homevisit=1, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=0, period=1),
 Row(userId='462', homevisit=1, period=2),
 Row(userId='462', homevisit=1, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=0, period=3),
 Row(userId='462', homevisit=1, period=4),
 Row(userId='647', homevisit=1, period=1),
 Row(userId='1686', homevisit=0, period=0),
 Row(userId='1686', homevisit=0, period=0),
 Row(userId='1686', homevisit=0, period=0),
 Row(userId='1686', homevisit=0, period=0),
 Row(userId='1686', homevisit=1, period=1),
 Row(userId='2628', homevisit=1, period=1),
 Row(userId='2628', homevisit=0, period=1),
 Row(userId='2628', homevisit=0, period=1),
 Row(userId='2720', homevisit=0, period=0),
 Row(userId='282', homevisit=0, period=0),
 Row(userId='282', homevisit=0, period=0),
 Row(userId='282', homevisit=1, period=1),
 Row(userId='282', homevisit=1, period=2),
 Row(userId='282', homevisit=0, period=2),
 Row(userId='282', homevisit=1, period=3),
 Row(userId='282', homevisit=1, period=4),
 Row(userId='448', homevisit=0, period=0),
 Row(userId='700', homevisit=0, period=0),
 Row(userId='700', homevisit=1, period=1),
 Row(userId='700', homevisit=0, period=1),
 Row(userId='700', homevisit=0, period=1),
 Row(userId='700', homevisit=1, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=0, period=2),
 Row(userId='700', homevisit=1, period=3),
 Row(userId='700', homevisit=0, period=3),
 Row(userId='700', homevisit=0, period=3),
 Row(userId='700', homevisit=0, period=3),
 Row(userId='700', homevisit=1, period=4),
 Row(userId='1158', homevisit=0, period=0),
 Row(userId='1158', homevisit=0, period=0),
 Row(userId='1158', homevisit=0, period=0),
 Row(userId='1158', homevisit=0, period=0),
 Row(userId='1158', homevisit=0, period=0),
 Row(userId='1158', homevisit=0, period=0),
 Row(userId='1158', homevisit=1, period=1),
 Row(userId='1158', homevisit=0, period=1),
 Row(userId='1158', homevisit=0, period=1),
 Row(userId='1158', homevisit=1, period=2),
 Row(userId='1304', homevisit=0, period=0),
 Row(userId='1377', homevisit=0, period=0),
 Row(userId='1377', homevisit=1, period=1),
 Row(userId='1377', homevisit=0, period=1),
 Row(userId='1412', homevisit=1, period=1),
 Row(userId='2415', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2812', homevisit=0, period=0),
 Row(userId='2988', homevisit=0, period=0),
 Row(userId='2988', homevisit=1, period=1),
 Row(userId='635', homevisit=1, period=1),
 Row(userId='862', homevisit=1, period=1),
 Row(userId='2079', homevisit=0, period=0),
 Row(userId='2079', homevisit=1, period=1),
 Row(userId='2079', homevisit=0, period=1),
 Row(userId='2079', homevisit=0, period=1),
 Row(userId='2079', homevisit=0, period=1),
 Row(userId='2079', homevisit=0, period=1),
 Row(userId='2079', homevisit=0, period=1),
 Row(userId='714', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=0, period=0),
 Row(userId='1290', homevisit=1, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),
 Row(userId='1290', homevisit=0, period=1),